<div class="row" ng-show="entry">
  <a href="" ng-click="chooseTitle(null)"><span class="glyphicon glyphicon-chevron-left"></span>  back</a>
  <br>
  <br>
  <div class="jumbotron">
    <div class="media">
      <a class="media-left media-middle" href="#">
        <img ng-src="{{entry.img}}" alt="entry.title">
      </a>
      <div class="media-body">
        <h2 class="media-heading">{{entry.title}} <a ng-href="{{entry.link}}" target="_blank"><img src="images/netflix-icon.png" height="35"></a></h2>
        <p class="lead">{{entry.desc}}</p>
        <small class="text-muted"><em>
           published on {{entry.publishedDate | date : 'fullDate'}}
        </em></small>
      </div>
    </div>
  </div>
</div>
<div class="row" ng-hide="entry">
  <div class="form-group col-xs-8 col-xs-offset-2">
    <input type="text" ng-model="query" class="form-control" placeholder="Search titles">
  </div>
  <div class="clearfix"></div>
  <div class="marketing">
    <div class="col-sm-2 col-xs-6 movie-card" ng-repeat="entry in feed.entries | filter: { title : query }" ng-click="chooseTitle(entry)">
      <p class="text-center">
        <img ng-src="{{entry.img}}">
        <br>
        <span>{{entry.title}}</span>
      </p>
    </div>
  </div>
</div>
